@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------ */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  padding: 0; /* Remove default padding */
  position: relative; /* Set position for the pseudo-element */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Pseudo-element for the background */
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(./components/customStyle/bg-green-strip.svg);
  filter: grayscale(100%);
  z-index: -1; /* Ensure the background is behind the content */
  
}
